body { 
	color:gray;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	background-image: url("/back1.jpg");
	background-attachment: fixed;
	background-size: cover;
}

h1 {font-family: 'Oranienbaum', serif;
	font-size: 36px;
	color:steelblue;}

h2 {color:steelblue;}

#wrap {
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   position: relative;
   text-align: center;
   width:33%;
}

#mid_col {
	display: inline-block;
	position: relative;
    text-align: center;
	width:34%;
}
#right_col {
   float:right;
   position: relative;
   text-align: center;
   width:33%;
}

/*side bar Formatting*/

.FileBar{
    width:150px;
    top: 0;
    padding: 0;
    margin-top: 110px;
    list-style: none;
    position: absolute;
}

.FileBar li {
    text-indent: 20px;
    line-height: 40px;
}

.FileBar li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.FileBar > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.FileBar > .sidebar-brand a {
    color: #999999;
}

.FileBar > .sidebar-brand a:hover {
    color: #999999;
    background: none;
}

.FileBar li a:hover {
    text-decoration: none;
    color: #fff;
    background: #daead5;
}
/*End FileBar*/

.PageContent{
	margin-top: 10px;
	margin-left: 150px;
	margin-color: red;
}

#PhraseTree{
	margin: 0 auto;
}

#PhraseTree > .root{
	margin: 0 auto;
	text-align: center;

}

.Tree {
	width: auto;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	border-top: 2px solid black;
	vertical-align: top;
	padding: 10px;
	padding-top: 0px;
}
.Tree > .littleLine{
	width: 2px;
	height: 5px;
	background-color: black;
	margin: auto;
}