body { 
	color:gray;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	background-image: url("/back1.jpg");
	background-attachment: fixed;
	background-size: cover;
}

h1 {font-family: 'Oranienbaum', serif;
	font-size: 75;
	color:steelblue;}

h2 {color:steelblue;}

#wrap {
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   position: relative;
   text-align: center;
   width:33%;
}

#mid_col {
	display: inline-block;
	position: relative;
    text-align: center;
	width:34%;
}
#right_col {
   float:right;
   position: relative;
   text-align: center;
   width:33%;
}

